.qr-code {
    height: 100px;
    width: 100px;
}

.description{
    text-align: left;
    padding-left: 20px;
    padding-right: 20px;
}
.ticket{
    text-align: left;
}
.event_details_img{
    width: 1000px;
    height: 500px;
}