.event-container{
    display: flex;
    border-bottom: 1px solid lightgray;
    margin: 20px;
    text-align: left;
    background-color: whitesmoke;
    box-shadow: 5px 10px 18px #888888;
}
.img{
    width: 45%;
}
.details{
    width: 45%;
}
.details h2 {
    color: tomato;
}
.event_img{
    width: 400px;
    height: 350px;
    padding: 20px;
}
.evnt-btn{
    width: 150px;
    font-weight: 600;
    height: 50px;
    background-color: azure;
    box-shadow: 5px 10px 18px #888888;
    color: black;
    border-radius: 5px;
}