.header{
    margin: 0px;
    padding: 0px;
}

.header nav{
    background-color: black;
    line-height: 100px;
    text-align: left;
}

.header nav a{
    text-decoration: none;
    color: red;
    margin-bottom: 20px;
    padding: 10px;
    font-size: large;
    font-weight: bold;
    margin-left: 30px;
    
}

.header nav a:hover{
    background-color: white;
    font-size: larger;

}

/* .header.login-container{
    display: flex;
    float: right;
}
.logged-user-info button{
    width: 100px;
    height: 50px;
    padding: 10px;
    cursor: pointer;
    margin-top: 10px;
    margin-bottom: 20px;
}
.logged-user-info{
    float: right;
}
.logged-user-info p{
    color: white;
    width: 150px;
}
.profile-pic{
    border-radius: 50%;
    width: 50px;
    margin-top: 30px;
  } */

.navbar{
    display: flex;
    justify-content: space-between;
}
.login-container{
    margin-right: 50px;
}
.logged-user-info{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 30px;
}
.logged-user-info p{
    color: white;
    margin: auto;
}
.logged-user-info img{
    border-radius: 50%;
    width: 50px;
    margin: auto;
}
.login-container button{
    width: 100px;
    height: 50px;
    padding: 10px;
    cursor: pointer;
    margin: auto;
}
